@model ForGoodTime.Views.Shared.Components.ShoppingCartSummary.ShoppingCartViewModel


    <h2>Your Order</h2>
    <ul class="list">
        <li>
            <a href="#">
                Product
                <span>Price</span>
            </a>
        </li>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <li>
                <a href="#">
                    @item.Product.Name
                    <span class="middle">x @item.Amount</span>
                    <span class="last">@((item.Product.Price * item.Amount)) $</span>
                </a>
            </li>
        }
      
    </ul>
    <ul class="list list_2">
        <li>
            <a href="#">
                Qty
                <span>@Model.ShoppingCartTotal грн</span>
            </a>
        </li>
    </ul>
    @*<div class="payment_item">
        <div class="radion_btn">
            <input type="radio" id="f-option5" name="selector" />
            <label for="f-option5">Check payments</label>
            <div class="check"></div>
        </div>
        <p>
            Please send a check to Store Name, Store Street, Store Town,
            Store State / County, Store Postcode.
        </p>
    </div>
    <div class="payment_item active">
        <div class="radion_btn">
            <input type="radio" id="f-option6" name="selector" />
            <label for="f-option6">Paypal </label>
            <img src="img/product/single-product/card.jpg" alt="" />
            <div class="check"></div>
        </div>
        <p>
            Please send a check to Store Name, Store Street, Store Town,
            Store State / County, Store Postcode.
        </p>
    </div>*@
    <div class="creat_account">
        <input type="checkbox" id="f-option4" name="selector" />
        <label for="f-option4">I’ve read and accept the </label>
        <a href="#">terms & conditions*</a>
    </div>
   
