
@model ForGoodTime.Views.Shared.Components.ShoppingCartSummary.ShoppingCartViewModel

@if (Model.ShoppingCartItemsTotal > 0)
{
    <a asp-controller="ShoppingCart" asp-action="Index" class="dropdown-toggle" id="navbarDropdown3" role="button">
        <i title="@Model.ShoppingCartItemsTotal" class="fas fa-shopping-cart"></i>
    </a>

}
else
{

    <a asp-controller="ShoppingCart" asp-action="Index" class="dropdown-toggle" id="navbarDropdown3" role="button">
        <i title="0" class="fas fa-shopping-cart"></i>
    </a>
}